flow5.json
[{"id":"d0fc6777.1260b8","type":"tab","label":"流程6","disabled":false,"info":""},{"id":"822e2e13.53626","type":"http in","z":"d0fc6777.1260b8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["40b2e812.614168","45751eaf.e124"]]},{"id":"40b2e812.614168","type":"function","z":"d0fc6777.1260b8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["a7593756.3f5c98"]]},{"id":"a7593756.3f5c98","type":"rpi-gpio out","z":"d0fc6777.1260b8","name":"","pin":"5","set":"","level":"0","freq":"","out":"out","x":450,"y":480,"wires":[]},{"id":"45751eaf.e124","type":"function","z":"d0fc6777.1260b8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["5c54a1db.d893a","98666ae3.a1af98"]]},{"id":"98666ae3.a1af98","type":"http response","z":"d0fc6777.1260b8","name":"","statusCode":"","headers":{},"x":710,"y":120,"wires":[]},{"id":"5c54a1db.d893a","type":"debug","z":"d0fc6777.1260b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":540,"wires":[]},{"id":"543445d9.057cec","type":"http in","z":"d0fc6777.1260b8","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":400,"wires":[["42bc072.7a2b5f8","fc9ae6d2.5cf318"]]},{"id":"42bc072.7a2b5f8","type":"function","z":"d0fc6777.1260b8","name":"Clear to 0","func":"msg.payload = 0 ;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":420,"wires":[["a7593756.3f5c98"]]},{"id":"fc9ae6d2.5cf318","type":"function","z":"d0fc6777.1260b8","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["98666ae3.a1af98","5c54a1db.d893a"]]}]
