flow3.json
[{"id":"6b3ad35e.4b56cc","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8ea92d8f.3b5ac","type":"inject","z":"6b3ad35e.4b56cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["9d12e8ed.e1ce18"]]},{"id":"9d12e8ed.e1ce18","type":"function","z":"6b3ad35e.4b56cc","name":"Payload","func":"msg.headers={\n        deviceKey: \"rcPlV30dUc6F9Fjw\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["79259970.510028"]]},{"id":"79259970.510028","type":"http request","z":"6b3ad35e.4b56cc","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dpa8WiZ8/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":280,"wires":[["55592e32.98e4c","bbd47240.93b25"]]},{"id":"55592e32.98e4c","type":"http response","z":"6b3ad35e.4b56cc","name":"","statusCode":"","headers":{},"x":580,"y":280,"wires":[]},{"id":"bbd47240.93b25","type":"debug","z":"6b3ad35e.4b56cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":340,"wires":[]}]
