flow2.json
[{"id":"4a8925f2.c136bc","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"ef390717.bf5ec8","type":"inject","z":"4a8925f2.c136bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["1c9d7a30.1d1386"]]},{"id":"1c9d7a30.1d1386","type":"function","z":"4a8925f2.c136bc","name":"Payload","func":"msg.headers={\n    deviceKey: \"rcPlV30dUc6F9Fjw\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["d3c06c5a.8c5be"]]},{"id":"d3c06c5a.8c5be","type":"http request","z":"4a8925f2.c136bc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dpa8WiZ8/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":200,"wires":[["8cc1c07d.de5b1","f6723ad2.a1c068"]]},{"id":"8cc1c07d.de5b1","type":"http response","z":"4a8925f2.c136bc","name":"","statusCode":"","headers":{},"x":630,"y":200,"wires":[]},{"id":"f6723ad2.a1c068","type":"debug","z":"4a8925f2.c136bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":300,"wires":[]}]
