flow1.json
[{"id":"f3077ed4.29d0c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"d5a7f5c0.b6a488","type":"rpi-gpio in","z":"f3077ed4.29d0c","name":"button","pin":"7","intype":"up","debounce":"25","read":false,"x":100,"y":440,"wires":[["c4aac4d7.53f4a8","d83ad81f.735b08"]]},{"id":"c4aac4d7.53f4a8","type":"switch","z":"f3077ed4.29d0c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":440,"wires":[["f832c68c.3ab5e8","7b56ae29.4efde"],[]]},{"id":"f832c68c.3ab5e8","type":"change","z":"f3077ed4.29d0c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["2029de6f.62fbf2"]]},{"id":"7b56ae29.4efde","type":"change","z":"f3077ed4.29d0c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[["2029de6f.62fbf2"]]},{"id":"2029de6f.62fbf2","type":"rpi-gpio out","z":"f3077ed4.29d0c","name":"green led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":750,"y":440,"wires":[]},{"id":"d83ad81f.735b08","type":"debug","z":"f3077ed4.29d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":320,"wires":[]}]
